.background {
  background-image: url('../assets/living_room.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.blurred-box {
  width: 95vw;
  height: 95vh;
  background: rgba(0, 0, 0, 0.5); /* translucent black */
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 20px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  // color: white;
  display: flex;
  //   flex-direction: column;
  justify-content: center;
  //   align-items: center;
  text-align: center;
  padding: 2rem;
}
